<td class="star-button">
  <button onclick={{action "star"}}>
    {{#if @starred}}
      <span class="starred">&#9733;</span>
    {{else}}
      <span class="starrednt">&#9733;</span>
    {{/if}}
  </button>
</td>